* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

#navbar4 {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

#locbar4 {
    background-color: rgb(32, 33, 36);
    height: 40px;
    text-align: center;
    padding: 10px;
    color: white;
}

#navbar4>button:nth-child(1) {
    border-radius: 20px;
    color: black;
    border: 2px solid black;
    background-color: white;
    height: 30px;
    width: 120px;
    margin-top: 10px;
    padding: 5px;
}

#container44 {
    display: flex;
    width: 80%;
    margin: 20px auto 30px;
    /* border: 1px solid red; */
    gap: 20px;
}

h1,
.threelines {
    margin-left: 200px
}

#leftdiv {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(248, 247, 245)
}

table {
    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}

#box44 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

thead {
    text-align: center;
    font-weight: bold;
}

.functionbutton,
#checkoutbutton {
    border-radius: 20px;
    color: white;
    border: none;
    background-color: rgb(228, 0, 43);
    height: 30px;
    width: 120px;
    margin-top: 10px;
    padding: 5px;
}

#rightdiv4 {
    width: 35%;
}

#login {
    background-color: white;
    border: none
}

#container4 {
    background-color: rgb(32, 33, 36);
    padding: 50px 250px;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

#container4>p {
    width: 70%;
    font-size: 12px;
}

#boxes4 {
    display: flex;
    margin: auto;
    margin-top: 50px;
    /* border: 1px solid red; */
}

ul {
    list-style-type: none;
}

li {
    font-size: 12px;
    margin-bottom: 7px;
}

li:hover {
    text-decoration: underline;
}

.cards4 {
    width: 18%;
}

ul>p {
    font-size: 14px;
}

#lastbox4 {
    display: flex;
    /* border: 1px solid green; */
    height: 50px;
    margin-top: 60px;
}

.section4 {
    display: flex;
    /* border: 1px solid red; */
    width: 75%;
    margin-right: 80px;
}

.section4>div:hover {
    text-decoration: underline;
}

.section4>div {
    width: 19%;
    margin-right: 5px;
    border-right: 1px solid gray;
}

.section4>:nth-child(5) {
    border-right: none;
}

footer{
    width: 100%;
    background-color: #202124;
    padding: 100px 100px 10px 100px;
}
#rfooter{
    display: flex;
    width: 20%;
    justify-content: center;
    padding: 20px 50px;
}
#rfooter>img{
    width: 3em;
    height: 3em;
}
#Tfooter{
    display: flex;
}
#linksF{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
}
.linkCard{
    display: flex;
    flex-direction: column;
}
.linkCard>a{
    text-decoration: none;
    color: #E3E3E3;
    font-weight: 100;
    margin: 5px;
}
.linkCard>a:hover{
    font-weight: 600;
}
#app{
    display: flex;
    width: 20%;
    justify-content: space-around
}
#app>img{
    width: 100px;
    height: 50px;
}
#Dfooter{
    height: 50px;
    color: #DBDBDB;
    font-size: 12px;
    margin-top: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media only screen and (min-width:0px) and (max-width:1024px) {
    #boxes4 {
        flex-direction: column;
    }

    .cards4 {
        width: 100%;
        height: 18px;
        overflow: hidden;
        text-align: center;
    }

    .cards4:nth-child(1) {
        height: 150px;
        margin-left: -60px;

    }

    i {
        margin-right: 2px
    }

    #container44 {
        flex-direction: column;
    }


}