* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

header{
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 1;
}
nav{
    display: flex;
    height: 100px;
    padding: 0px 75px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#leftNav{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    
}
#leftNav>img{
    height: 50%;
}
nav>#leftNav>h3:hover{
    cursor: pointer;
}
#rightNav{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}
#rightNav>img{
    height: 50%;
}
nav>#rightNav>h3:hover{
    cursor: pointer;
}

#title{
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}

/* cartbody */

#container{
    width: 80%;
    margin: auto;
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

#ItemList{
    width: 65%;
}

#checkoutBox{
    width: 25%;
    border: 1px solid green;
}

.cartcard{
    background-color: #f8f7f5;
    padding: 2%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 20px ;
}

.detailsSec{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px ;
}
.detailsSec>img{
    width: 25%;
    border-radius: 5px;
}

.quantityBtn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    font-size: 20px;
}

.quantityBlock{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantitySec{
    display: flex;
}
/* footerPart */

footer{
    width: 100%;
    background-color: #202124;
    padding: 100px 100px 10px 100px;
}
#rfooter{
    display: flex;
    width: 20%;
    justify-content: center;
    padding: 20px 50px;
}
#rfooter>img{
    width: 3em;
    height: 3em;
}
#Tfooter{
    display: flex;
}
#linksF{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
}
.linkCard{
    display: flex;
    flex-direction: column;
}
.linkCard>a{
    text-decoration: none;
    color: #E3E3E3;
    font-weight: 100;
    margin: 5px;
}
.linkCard>a:hover{
    font-weight: 600;
}
#app{
    display: flex;
    width: 20%;
    justify-content: space-around
}
#app>img{
    width: 100px;
    height: 50px;
}
#Dfooter{
    height: 50px;
    color: #DBDBDB;
    font-size: 12px;
    margin-top: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media only screen and (min-width:0px) and (max-width:1024px) {
    
}